<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSGPANG - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <style>
        .input-group-append > #idCheck{
            width: 10rem;
            border-bottom-right-radius: 10rem;
            border-top-right-radius: 10rem;
        }
    </style>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image" style="align-items:center !important; display: flex !important; justify-content:center !important;">
                    <img src="/img/member/register.png" alt="이미지 자리" width="191" height="187">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                        </div>
                        <form class="user" id="signUpForm" action="/user/member/register" method="post">

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-user" id="id" name="id" placeholder="아이디">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary btn-user" id="idCheck" name="idCheck">중복 체크</button>
                                    </div>
                                    <br>
                                </div>
                                <span id="idCheckResult"></span>
                            </div>

                            <div class="form-group">
                                <div>
                                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input type="password" class="form-control form-control-user" id="password2" name="password2" placeholder="비밀번호 확인">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="이름">
                                </div>
                            </div>

                            <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="tel" name="tel" placeholder="전화번호 ( '-' 제외 )">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="email" name="email"
                                       placeholder="이메일">
                            </div>

                            <button class="btn btn-primary btn-user btn-block" id="registerBtn">
                                회원가입
                            </button>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="/user/member/login">이미 계정이 있으신가요?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<th:block>
    <script>
        let idCheckPass = false;

        document.getElementById("idCheck").addEventListener("click", function () {
            // alert("내가 만든 익명함수 호출함 --> 화살표 함수로 바꿔보자");
            const id = document.getElementById("id").value.trim(); //공백 제거
            // alert("id : " + id);
            if (!id) {
                alert("아이디를 입력해주세요.");
                return;
            }
            axios.get("/user/member/checkId?id=" + id).then(function (response) {
                console.log(response)
                const result = response.data;
                const idCheckResult = document.getElementById("idCheckResult");
                if (result) {
                    idCheckPass = true;
                    idCheckResult.style.color = "green";
                    idCheckResult.textContent = "사용 가능한 ID";
                } else {
                    idCheckResult.style.color = "crimson";
                    idCheckResult.textContent = "사용 불가능한 ID";
                }
            })
                .catch(function (error) {
                    alert("Error! ID 중복 체크를 확인해주세요.");
                    console.error(error);
                });

            //공백 제거
            document.getElementById("registerBtn").addEventListener("click", function () {
                const id = document.getElementById("id").value.trim();
                const pw = document.getElementById("password").value.trim();
                const pw2 = document.getElementById("password2").value.trim();
                const name = document.getElementById("name").value.trim();
                const tel = document.getElementById("tel").value.trim();
                const email = document.getElementById("email").value.trim();

                //id가 4글자 이상인지 체크
                if(id.length < 4){
                    alert("ID가 4글자 이상인지 확인해주세요!");
                    return;
                }

                //PW 일치 여부
                if (pw !== pw2){
                    alert("PW가 일치하지 않습니다!");
                    return;
                }

                //전체 입력 체크
                console.log(id + " " + pw + " " + name + " " + tel);
                if (!id || !pw || !name || !tel){
                    alert("입력란이 비어있습니다!");
                    return;
                }

                //아이디 중복체크 안 했으면 꼭 하라고 알림을 주어야함
                if (idCheckPass !== true){
                    alert("ID 중복체크가 완료되지 않았습니다!");
                    return;
                }

                document.getElementById("signUpForm").submit();
            });
        });
    </script>
</th:block>

</body>

</html>