<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSGPANG Fresh</title>

    <!-- Custom fonts for this template-->
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon/starfavicon.png">

    <!-- Axios 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<!-- 세션에 userId만 있을 때 유저 페이지를 표시하도록 처리-->
<div id="wrapper" th:if="${session.userId != null and session.adminId == null}">

    <!-- Sidebar -->
    <div th:replace="user/fragments/sidebar :: userSideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="user/fragments/topbar :: userTopBar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- TODAY Section -->
                <div class="card shadow-sm mb-4 today-section" style="border-radius: 10px; border: 1px solid #e0e0e0;">
                    <div class="card-header py-3" style="background-color: #f8f9fc; border-bottom: 1px solid #e0e0e0;">
                        <h6 class="m-0 font-weight-bold">발주</h6>
                    </div>
                    <h6 class="m-0 font-weight-bold">TODAY</h6>
                    <div class="card-body">
                        <!-- Card content here -->
                        <!-- Content Row -->
                        <div class="row">

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card shadow h-100 py-2" style="color: #5b93ff">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #5b93ff;font-size: 15px;">
                                                    승인대기</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statusWaiting} + '건'"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-boxes fa-2x" style="color: #5b93ff;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ff8f6b;font-size: 15px;">
                                                    승인완료</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statusApproval} + '건'"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #ffd66b;font-size: 15px;">승인거절
                                                </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${statusReject} + '건'"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pending Requests Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #cc97f7;font-size: 15px;">
                                                    총 발주 </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalOutputQuantity} + '건'"></div>
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: #cc97f7;font-size: 15px;">
                                                    총 발주비용 </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalOutputCost} + '원'"></div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clock fa-2x" style="color: #cc97f7"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Content Row -->
                <div class="row">
                    <!-- Bar Chart -->
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold">발주 현황</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <!--테이블 -->
                    <!-- Content Column -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold">오늘 입고되는 재고</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id=""></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--pie chart-->
                    <!-- Content Column -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold">나의 발주정보</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #5b93ff" th:text="${userPieChartData[0].productName}" ></i>
                                        </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #ff8f6b" th:text="${userPieChartData[1].productName}"></i>
                                        </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #ffd66b" th:text="${userPieChartData[2].productName}"></i>
                                </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #ffd66b" th:text="${userPieChartData[3].productName}"></i>
                                </span>
                                <span class="mr-2">
                                            <i class="fas fa-circle" style="color: #ffd66b" th:text="${userPieChartData[4].productName}"></i>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <div th:replace="user/fragments/footer :: userFooter"></div>

            </div>
            <!-- End of Content Wrapper -->

        </div>

        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div th:replace="user/fragments/modal :: userModal"></div>
    </div>
</div>

        <!-- Bootstrap core JavaScript-->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/js/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>
        <script src="/js/demo/chart-bar-demo.js"></script>


</body>

</html>