<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SSGPANG Fresh</title>

    <!-- Custom fonts for this template-->
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon/starfavicon.png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .table-responsive {
            max-height: 495px; /* 테이블 높이 제한 */
            overflow-y: auto;  /* 스크롤 추가 */
        }

        .table td, .table th {
            padding: 5px 7px; /* 행 패딩 조절 */
            text-align: center; /* 텍스트 중앙 정렬 */
            vertical-align: middle; /* 세로 중앙 정렬 */
        }

        .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* 행에 마우스 올릴 때 색 변경 */
        }

        .form-group-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .form-group label {
            margin-right: 10px;
        }

        .form-group select {
            width: 140px; /* 드롭다운 너비를 줄임 */
        }
    </style>

</head>

<body id="page-top">

<div id="wrapper">
    <div th:replace="admin/fragments/sidebar :: adminSideBar"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="admin/fragments/topbar :: adminTopBar"></div>

            <div class="container-fluid">

                <h1 class="h3 mb-4 text-gray-800">재고 확인</h1>

                <div class="form-group-container">
                    <div class="form-group">
                        <label for="categorySelect1">품목구분:</label>
                        <select class="form-control" id="categorySelect1" onchange="filterCategory()">
                            <option value="all">전체</option>
                            <option value="bakedgoods">bakedgoods</option>
                            <option value="beverage">beverage</option>
                            <option value="cannedfood">cannedfood</option>
                            <option value="certain">certain</option>
                            <option value="condiment">condiment</option>
                            <option value="dairy">dairy</option>
                            <option value="fruit">fruit</option>
                            <option value="frozenfood">frozenfood</option>
                            <option value="grain">grain</option>
                            <option value="herb">herb</option>
                            <option value="legume">legume</option>
                            <option value="meat">meat</option>
                            <option value="noodle">noodle</option>
                            <option value="nut">nut</option>
                            <option value="oil">oil</option>
                            <option value="seed">seed</option>
                            <option value="seafood">seafood</option>
                            <option value="spice">spice</option>
                            <option value="snack">snack</option>
                            <option value="vegetable">vegetable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="anotherSelect">자재명:</label>
                        <select class="form-control" id="anotherSelect" onchange="filterCategory()">
                            <option value="all">전체</option>
                            <option value="carrot">carrot</option>
                            <option value="chicken">chicken</option>
                            <option value="butter">butter</option>
                            <option value="banana">banana</option>
                            <option value="beef">beef</option>
                            <option value="bread">bread</option>
                            <option value="potato">potato</option>
                            <option value="tomato">tomato</option>
                            <option value="cheese">cheese</option>
                            <option value="sugar">sugar</option>
                            <option value="pasta">pasta</option>
                            <option value="bean">bean</option>
                            <option value="yogurt">yogurt</option>
                            <option value="flour">flour</option>
                            <option value="apple">apple</option>
                            <option value="salt">salt</option>
                            <option value="egg">egg</option>
                            <option value="milk">milk</option>
                            <option value="rice">rice</option>
                            <option value="olive">olive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="another1Select">창고이름:</label>
                        <select class="form-control" id="another1Select" onchange="filterCategory()">
                            <option value="all">전체</option>
                            <option value="Nexus">Nexus</option>
                            <option value="Orion">Orion</option>
                            <option value="Titan">Titan</option>
                            <option value="Vega">Vega</option>
                            <option value="Nova">Nova</option>
                            <option value="Atlas">Atlas</option>
                            <option value="Luna">Luna</option>
                            <option value="Astra">Astra</option>
                            <option value="Echo">Echo</option>
                            <option value="Draco">Draco</option>
                            <option value="Helix">Helix</option>
                            <option value="Raven">Raven</option>
                            <option value="Lyric">Lyric</option>
                            <option value="Onyx">Onyx</option>
                            <option value="Pulse">Pulse</option>
                            <option value="Pixel">Pixel</option>
                            <option value="Rogue">Rogue</option>
                            <option value="Storm">Storm</option>
                            <option value="Blaze">Blaze</option>
                            <option value="Flash">Flash</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="another2Select">제조업체명:</label>
                        <select class="form-control" id="another2Select" onchange="filterCategory()">
                            <option value="all">전체</option>
                            <option value="Wilson">Wilson</option>
                            <option value="Hudson">Hudson</option>
                            <option value="Smith">Smith</option>
                            <option value="Carter">Carter</option>
                            <option value="Gonzalez">Gonzalez</option>
                            <option value="Daniels">Daniels</option>
                            <option value="Stanley">Stanley</option>
                            <option value="Sloan">Sloan</option>
                            <option value="Cortez">Cortez</option>
                            <option value="Rodriguez">Rodriguez</option>
                            <option value="Evans">Evans</option>
                            <option value="Oliver">Oliver</option>
                            <option value="Hernandez">Hernandez</option>
                            <option value="Goodman">Goodman</option>
                            <option value="Richardson">Richardson</option>
                            <option value="Harrison">Harrison</option>
                            <option value="Jackson">Jackson</option>
                            <option value="Williams">Williams</option>
                            <option value="Jacobs">Jacobs</option>
                            <option value="Rodriguez">Rodriguez</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <!-- Table Column -->
                    <div class="col-lg-8">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">재고</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>품목구분</th>
                                            <th>자재명</th>
                                            <th>창고이름</th>
                                            <th>제조업체명</th>
                                            <th>단가</th>
                                            <th>재고수량</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="confirm_inventory, status : ${confirm_inventory_list}" onclick="showDetails(this)"
                                        th:id = "${confirm_inventory.code}">
                                            <td th:text="${confirm_inventory.itemClassification}"></td>
                                            <td th:text="${confirm_inventory.productName}"></td>
                                            <td th:text="${confirm_inventory.warehouseName}"></td>
                                            <td th:text="${confirm_inventory.manufacturerName}"></td>
                                            <td th:text="${confirm_inventory.price} + '원'"></td>
                                            <td th:text="${confirm_inventory.stock} + '개'"></td>
                                            <td><button class="btn btn-danger btn-sm"
                                                        th:data-code = "${confirm_inventory.code}"
                                                        onclick="deleteRow(this)">삭제</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Details Column -->
                    <div class="col-lg-4">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">정보</h6>
                            </div>
                            <div class="card-body">
                                <div id="details-container">
                                    <p><strong>품목구분:</strong> <span id="detail-itemClassification"></span></p>
                                    <p><strong>자재명:</strong> <span id="detail-productName"></span></p>
                                    <p><strong>창고이름:</strong> <span id="detail-warehouseName"></span></p>
                                    <p><strong>제조업체명:</strong> <span id="detail-manufacturerName"></span></p>
                                    <p><strong>단가:</strong> <span id="detail-price"></span></p>
                                    <p><strong>재고수량:</strong> <span id="detail-stock"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">수량 수정</h6>
                            </div>
                            <div class="card-body">
                                <div id="details-container2">

                                    <!-- Form Group 예시 -->
                                    <div class="form-group" style="display: flex; align-items: center; justify-content: space-between;">
                                        <label for="outputTextInput" style="font-size: 0.85rem">수정개수</label>
                                        <input type="number" class="form-control" id="outputTextInput" value="0" min="0"
                                               placeholder="수량을 입력해주세요." style="width: 200px">
                                    </div>
                                    <a id="" class="btn btn-primary" type="button" onClick="updateStock()">
                                        <i class="fas fa-inbox fa-sm">
                                            수정하기
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="admin/fragments/footer :: adminFooter"></div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:replace="admin/fragments/modal :: adminModal"></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>

<script src="/js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>
<script>
    function filterCategory() {
        // 드롭다운에서 선택된 값을 가져오기
        const category = document.getElementById('categorySelect1').value;
        const material = document.getElementById('anotherSelect').value;
        const warehouse = document.getElementById('another1Select').value;
        const manufacturer = document.getElementById('another2Select').value;

        // 테이블의 모든 행을 가져오기
        const rows = document.querySelectorAll('#dataTable tbody tr');

        rows.forEach(row => {
            // 각 행에서 셀 데이터를 가져오기
            const itemClassification = row.children[0].innerText;
            const productName = row.children[1].innerText;
            const warehouseName = row.children[2].innerText;
            const manufacturerName = row.children[3].innerText;

            // 모든 필터 조건이 일치하는지 확인
            const matchesCategory = (category === 'all' || itemClassification === category);
            const matchesMaterial = (material === 'all' || productName === material);
            const matchesWarehouse = (warehouse === 'all' || warehouseName === warehouse);
            const matchesManufacturer = (manufacturer === 'all' || manufacturerName === manufacturer);

            // 모든 조건이 맞으면 해당 행을 표시하고 아니면 숨기기
            if (matchesCategory && matchesMaterial && matchesWarehouse && matchesManufacturer) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
    function updateStock() {
        const newStock = document.getElementById('outputTextInput').value;  // 수정된 수량 가져오기
        const code = document.querySelector('#details-container').dataset.code;  // 선택된 품목의 코드

        // Axios PUT 요청으로 수량 업데이트
        axios.put(`/admin/inventory/update/${code}`, { stock: newStock })
            .then(function (response) {
                if (response.data) {
                    // 테이블에서 재고 수량 업데이트
                    const row = document.getElementById(code);
                    row.children[5].innerText = newStock + '개';  // 테이블에서 수량 표시 업데이트

                    // 상세 정보 패널에서 수량 업데이트
                    document.getElementById('detail-stock').innerText = newStock + '개';

                    alert('재고가 성공적으로 수정되었습니다.');
                } else {
                    alert('재고 수정에 실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('재고 수정 중 오류가 발생했습니다.');
            });
    }

    function showDetails(row) {
        const code = row.id;
        const data = {
            itemClassification: row.children[0].innerText,
            productName: row.children[1].innerText,
            warehouseName: row.children[2].innerText,
            manufacturerName: row.children[3].innerText,
            price: row.children[4].innerText,
            stock: row.children[5].innerText
        };

        document.getElementById('detail-itemClassification').innerText = data.itemClassification;
        document.getElementById('detail-productName').innerText = data.productName;
        document.getElementById('detail-warehouseName').innerText = data.warehouseName;
        document.getElementById('detail-manufacturerName').innerText = data.manufacturerName;
        document.getElementById('detail-price').innerText = data.price;
        document.getElementById('detail-stock').innerText = data.stock;

        document.getElementById('outputTextInput').value = parseInt(data.stock);
        document.querySelector('#details-container').dataset.code = code;
    }

    function resetDetails() {
        document.getElementById('detail-itemClassification').innerText = '';
        document.getElementById('detail-productName').innerText = '';
        document.getElementById('detail-warehouseName').innerText = '';
        document.getElementById('detail-manufacturerName').innerText = '';
        document.getElementById('detail-price').innerText = '';
        document.getElementById('detail-stock').innerText = '';
    }

    function deleteRow(button) {
        const row = button.closest('tr');
        const code = button.dataset.code;
        //const row = document.getElementById(code);
        const confirmation = confirm('해당 재고를 삭제하시겠습니까?');
        if (confirmation) {

            axios.delete("/admin/inventory/delete/" + code)
                .then(function (response) {
                    if (response.data) {
                        row.remove();
                        alert('재고가 성공적으로 삭제되었습니다.');
                    } else {
                        alert('재고 삭제에 실패했습니다.');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('재고 삭제 중 오류가 발생했습니다.');
            })
        }
    };
</script>

</body>

</html>