<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSGPANG Fresh</title>

    <!-- Custom fonts for this template-->
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon/starfavicon.png">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="admin/fragments/sidebar :: adminSideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="admin/fragments/topbar :: adminTopBar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- Content Row -->
                <div class="row">
                        <!-- Table Column -->
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">게시글 수정</h6>
                                </div>
                                <div class="card-body">
                                <form action="/admin/board/update2" method="post">
                                    <!-- 게시글 번호 -->
                                    <input type="hidden" name="no" th:value="${boardVO.no}">

                                    <!-- 작성자 -->
                                    <input type="hidden" name="writer" th:value="${boardVO.writer}">

                                    <!-- 제목 -->
                                    <div class="form-group">
                                        <label for="title" class="font-weight-bold">제목</label>
                                        <input type="text" id="title" name="title" class="form-control"
                                               th:value="${boardVO.title}" required>
                                    </div>

                                    <!-- 내용 -->
                                    <div class="form-group">
                                        <label for="content" class="font-weight-bold">내용</label>
                                        <textarea id="content" name="content" class="form-control" rows="5"
                                                  required th:text="${boardVO.content}"></textarea>
                                    </div>

                                    <!-- 수정 완료 버튼 -->
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">수정 완료</button>
                                        <a href="/admin/board/board" class="btn btn-secondary">취소</a>
                                    </div>
                                </form>
                                </div>

                            </div>
                        </div>
                </div>

            </div>

        </div>


        <!-- Footer -->
        <div th:replace="admin/fragments/footer :: adminFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="admin/fragments/modal :: adminModal"></div>

<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>