<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinsegae.project.order.mapper.OrderMapper">

    <select id="selectOutputAll" resultType="com.shinsegae.project.order.vo.OutputVO">
        select *
        from output
    </select>
    <select id="selectOrderManagementAll" resultType="com.shinsegae.project.order.vo.OrderManagementDTO">
        SELECT
            product.product_name AS product_name,
            user.id AS id,
            output.unit_price AS unit_price,
            output.release_quantity AS release_quantity,
            output.release_date AS release_date,
            output.confirm_num AS confirm_num,
            output.confirm_id AS confirm_id,
            output.status AS status
        FROM
            output
                JOIN
            product ON output.product_code = product.product_code
                JOIN
            user ON output.user_id = user.uid

    </select>
</mapper>