<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul th:fragment="adminSideBar"  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/home_admin">
        <div class="sidebar-brand-icon">
            <!-- 아이콘 -->
            <!--                <i class="fas fa-laugh-wink"></i>-->
            <img src="/img/logo/mainlogo.png" alt="mainlogo" width="40px" height="40px">
        </div>
        <div class="sidebar-brand-text mx-3">SSGPANG</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/home_admin">
            <!-- 아이콘 -->
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        입고
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-table"></i>
            <span>입고관리</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">입고관리</h6>
                <a class="collapse-item" href="/admin/incoming/do_incoming">입고하기</a>
                <a class="collapse-item" href="/admin/incoming/confirm_incoming_list">입고내역확인</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        재고
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>재고관리</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">재고관리</h6>
                <a class="collapse-item" href="/admin/inventory/confirm_inventory_list">재고확인</a>
                <a class="collapse-item" href="/admin/inventory/edit_inventory">재고수정</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/order/manage_outgoing_request">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>발주요청관리</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">기능</div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/map/map">
            <i class="fas fa-fw fa-solid fa-map"></i>
            <span>창고별 위치</span></a>
    </li>



    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>


</body>
</html>