<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul th:fragment="userSideBar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user/home">
        <div class="sidebar-brand-icon">
            <!-- 아이콘 -->
            <!--                <i class="fas fa-laugh-wink"></i>-->
            <img src="/img/logo/mainlogo.png" alt="mainlogo" width="40px" height="40px">
        </div>
        <div class="sidebar-brand-text mx-3">SSGPANG</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/user/home">
            <!-- 아이콘 -->
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        발주
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-table"></i>
            <span>발주관리</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">발주관리</h6>
                <a class="collapse-item" href="/user/order/do_outgoing">발주하기</a>
                <a class="collapse-item" href="/user/order/confirm_outgoing_list">발주내역확인</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        계정
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-cog"></i>
            <span>계정관리</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">계정관리</h6>
                <a class="collapse-item" href="/user/member/logout">로그아웃</a>
                <a class="collapse-item" href="/user/member/info">회원정보</a>
                <a class="collapse-item" href="/user/member/delete">회원탈퇴</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">기능</div>

    <li class="nav-item">
        <a class="nav-link" href="/admin/map/map">
            <i class="fas fa-fw fa-solid fa-map"></i>
            <span>내 창고 위치</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/board/board">
            <i class="fas fa-fw fa-solid fa-clipboard"></i>
            <span>게시판</span></a>
    </li>
  <li class="nav-item">
        <a class="nav-link" href="/user/chatbot/chatbot">
            <i class="fas fa-fw fa-solid fa-question"></i>
            <span>FAQ</span></a>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>


</body>
</html>